
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: gray;
    height: 400px;
    width: 100%;
}

.form-container {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    background: pink;
    height: 100%;

}

.changePasswordHeader{
    display: flex;
    justify-content: center;

}

.Heading{
    font-weight: bold;
}

.input {
    margin: 40px;
}

.inputField {
    border-radius: 4px;
    width: 100%;
    height: 50px;
}

.submitButton {
    width: 50%;
    border-radius: 4px;
    background: red;
    border: 0;
    margin: 10px;
    height: 40px;
    
}

/*.form-container .form-floating:focus-within {
    z-index: 2;
}

.form-login .current-password {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login .new-password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}*/
